# Python geçici ve önbellek dosyaları
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/
.venv/

# Sistem ve Editör çöpleri
.DS_Store
Thumbs.db
.vscode/
.idea/

# Unity eklendiğinde gerekecek geçici klasörler
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/